<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if not(is_front_page) %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
        <meta name="description" content="{{ meta.description }}">
{% endif %}
{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{{ theme_url }}/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="{{ theme_url }}/styles/main.css">
        <link rel="stylesheet" href="{{ theme_url }}/styles/navigataur.css">
        <link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="{{ theme_url }}/javascript/vendor/respond.min.js"></script>
    </head>

    <body>
        <div class="container pure-g">
            <div class="sidebar pure-u">
              <h2><a href="/skrivkramp">Mikael Schiréns skrivkramp</a></h2>
              <p class="intro">En blogg om mitt skrivande, eller försöken att skriva</p>
                      <div class="pure-menu pure-menu-open pure-menu-custom header">
                    <input type="checkbox" id="toggle" />
                    <label for="toggle" class="toggle" data-open="Meny" data-close="Stäng Meny" onclick></label>
                    <ul class="menu">
                      <li><a href="/skrivkramp">Hem</a></li>
{% for page in pages %}{% if not(page.date) and not(page.url == base_url~'/') %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endif %}{% endfor %}
                    </ul>
                    <div id="faust">
                      <a href="{{ base_url }}"><img src="{{ theme_url }}/images/faust.jpg" alt="{{ site_title }}" /></a>
                    </div>
                </div>
            </div>
            <div class="pure-u-1">
                <div class="content">
{% if is_front_page %}
{% for page in paged_pages %}
{% if page.date and not(page.url == base_url~'/') %}
		    <div class="post">
		        <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
		        <p class="meta">Publicerad {{ page.date_formatted }}</p>
		        <p class="excerpt">{{ page.excerpt }}</p>
            <p><a href="{{ page.url }}">Läs vidare....</a>
		    </div>

{% endif %}

{% endfor %}
{{ pagination_links }}
{% else %}
		    <div class="post">
{% if meta.title %}
		        <h1>{{ meta.title }}</h1>
{% endif %}
		        {% spaceless %}{{ content }}{% endspaceless %}
{% if meta.date %}
            <p class="meta">Publicerad {{ meta.date_formatted }}</p>
{% endif %}
		    </div>
          {% if mcb_is_blog_page %}
          <div class="bloggposts">
          <hr />
          <h2>Senaste bloggposterna</h2>
               {% set num = 0 %}
               {% for page in pages if num < 5 %}
                  {% if page.mcb_is_blog_page %}
                    {% set num = num + 1 %}
                    <a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }} <small>{{ page.date_formatted }}</small></a> |
                  {% endif %}
               {% endfor %}
             </div>
          {% endif %}

{% endif %}
                </div>
            </div>
        </div>
    </body>
</html>
